In [2]:
import pandas as pd

In [3]:
dream = pd.read_csv("team-data/Atlanta Dream (1).csv")

In [4]:
dream_players = dream[:15].fillna(0)

In [5]:
dream_players["TEAM"] = ["Atlanta Dream" for i in range(15)]

In [6]:
dream_players

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,Unnamed: 12,TEAM
0,Cheyenne Parker,V,"$216,100",V,"$200,000",UFA,0,0,0,0,0,0.0,0.0,Atlanta Dream
1,Allisha Gray,V,"$194,600",V,"$185,000",V,"$190,000",UFA,0,0,0,0.0,0.0,Atlanta Dream
2,Danielle Robinson,V,"$155,000",UFA,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
3,Monique Billings,V,"$145,000",UFA,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
4,Nia Coffey,V,"$130,000",UFA,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
5,Aari McDonald,U,"$78,586",R,"$89,302",RFA,0,0,0,0,0,0.0,0.0,Atlanta Dream
6,Asia Durr (AD),TC,"$74,305",RFA,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
7,Beatrice Mompremier,TC,"$74,305",RFA,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
8,Rhyne Howard,U,"$73,584",U,"$80,943",OPT,"$91,981",RFA,0,0,0,0.0,0.0,Atlanta Dream
9,Iliana Rupert,U,"$67,634",U,"$74,398",OPT,"$84,543",RFA,0,0,0,0.0,0.0,Atlanta Dream
10,Naz Hillmon,U,"$64,657",U,"$71,124",OPT,"$80,823",RFA,0,0,0,0.0,0.0,Atlanta Dream
11,Mikayla Pivec,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
12,Lorela Cubaj,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
13,Kia Vaughn,UFA,0,0,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream
14,Maite Cazorla,SuspCE,0,0,0,0,0,0,0,0,0,0.0,0.0,Atlanta Dream

In [7]:
sky = pd.read_csv("team-data/Chicago Sky.csv")
sky_players = sky[:19].fillna(0)
sky_players["TEAM"] = ["Chicago Sky" for i in range(19)]
sky_players

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,Unnamed: 12,TEAM
0,Kahleah Copper,V,"$205,000",UFA,0,0,0,0,0,0,0,"2022, 2023",0.0,Chicago Sky
1,Marina Mabrey,V,"$202,000",V,"$208,000",V,"$210,000",UFA,0,0,0,0,0.0,Chicago Sky
2,Isabelle Harrison,V,"$160,000",V,"$160,000",UFA,0,0,0,0,0,0,0.0,Chicago Sky
3,Courtney Williams,V,"$160,000",UFA,0,0,0,0,0,0,0,0,0.0,Chicago Sky
4,Elizabeth Williams,V,"$135,000",V,"$135,000",UFA,0,0,0,0,0,0,0.0,Chicago Sky
5,Astou Ndour-Fall,U,"$115,000",UFA,0,0,0,0,0,0,0,0,0.0,Chicago Sky
6,Rebekah Gardner,U,"$100,000",Reserved,0,0,0,0,0,0,0,0,0.0,Chicago Sky
7,Alanna Smith,U,"$100,000",UFA,0,0,0,0,0,0,0,0,0.0,Chicago Sky
8,Ruthy Hebard,R,"$83,194",RFA,0,0,0,0,0,0,0,0,0.0,Chicago Sky
9,Kristine Anigwe,TC,"$74,305",UFA,0,0,0,0,0,0,0,0,0.0,Chicago Sky
10,Dana Evans,U,"$69,053",OPT,"$78,469",RFA,0,0,0,0,0,0,0.0,Chicago Sky
11,Li Yueru,U,"$62,285",U,"$64,767",OPT,"$74,019",RFA,0,0,0,0,0.0,Chicago Sky
12,Robyn Parks,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Chicago Sky
13,Feyonda Fitzgerald,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Chicago Sky
14,Anneli Maley,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Chicago Sky
15,Emma Meesseman,UFA,0,0,0,0,0,0,0,0,0,0,0.0,Chicago Sky
16,Allie Quigley,UFA,0,0,0,0,0,0,0,0,0,2018,0.0,Chicago Sky
17,Maria Conde,SuspCE,0,0,0,0,0,0,0,0,0,0,0.0,Chicago Sky
18,Julie Allemand,Full Susp,0,SuspCE,0,0,0,0,0,0,0,0,0.0,Chicago Sky

In [8]:
sun = pd.read_csv("team-data/Connecticut Sun.csv")
sun_players = sun[:17].fillna(0)
sun_players["TEAM"] = ["Connecticut Sun" for i in range(17)]
sun_players

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,Unnamed: 12,TEAM
0,DeWanna Bonner,V,"$234,350",UFA,0,0,0,0,0,0,0,"2015, 2016, 2018, 2019",0.0,Connecticut Sun
1,Alyssa Thomas,V,"$212,000",V,"$218,000",UFA,0,0,0,0,0,0,0.0,Connecticut Sun
2,Brionna Jones,V,"$208,000",UFA,0,0,0,0,0,0,0,2023,0.0,Connecticut Sun
3,Tiffany Hayes,U,"$162,477",UFA,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
4,Rebecca Allen,V,"$136,850",UFA,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
5,Natisha Hiedeman,U,"$120,000",U,"$120,000",UFA,0,0,0,0,0,0,0.0,Connecticut Sun
6,Tyasha Harris,R,"$83,194",RFA,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
7,DiJonai Carrington,U,"$69,053",OPT,"$78,469",RFA,0,0,0,0,0,0,0.0,Connecticut Sun
8,Nia Clouden,U,"$67,634",U,"$74,398",OPT,"$84,543",RFA,0,0,0,0,0.0,Connecticut Sun
9,Olivia Nelson-Ododa,U,"$64,657",U,"$71,124",OPT,"$80,823",RFA,0,0,0,0,0.0,Connecticut Sun
10,Kiara Smith,D,"$62,285",U,"$63,532",U,"$66,710",0,"$76,240",RFA,0,0,0.0,Connecticut Sun
11,Lauren Cox,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
12,Nirra Fields,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
13,Mikiah Herbert Harrigan,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
14,Victoria Macaulay,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
15,Bria Hartley,UFA,0,0,0,0,0,0,0,0,0,0,0.0,Connecticut Sun
16,Kianna Smith,Reserved,0,0,0,0,0,0,0,0,0,0,0.0,Connecticut Sun

In [9]:
wings = pd.read_csv("team-data/Dallas Wings (1).csv")
wings_players = wings[:13].fillna(0)
wings_players["TEAM"] = ["Dallas Wings" for i in range(13)]

In [10]:
fever = pd.read_csv("team-data/Indiana Fever.csv")
fever_players = fever[:17].fillna(0)
fever_players["TEAM"] = ["Indiana Fever" for i in range(17)]

In [11]:
aces = pd.read_csv("team-data/Las Vegas Aces (2).csv")
aces_players = aces[:14].fillna(0)
aces_players["TEAM"] = ["Las Vegas Aces" for i in range(14)]

In [12]:
aces_players

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,Unnamed: 12,Unnamed: 13,Unnamed: 14,TEAM
0,A'ja Wilson,V,"$202,154",UFA,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
1,Kelsey Plum,V,"$200,000",V,"$200,000",UFA,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
2,Chelsea Gray,V,"$196,267",V,"$196,267",UFA,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
3,Jackie Young,V,"$165,000",V,"$169,950",UFA,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
4,Riquna Williams,U,"$149,350",UFA,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
5,Alysha Clark,V,"$110,000",V,"$110,000",UFA,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
6,Candace Parker,U,"$100,000",UFA,0,0,0,0,0,0,0,"2015, 2016, 2017",0.0,0.0,0.0,Las Vegas Aces
7,Kiah Stokes,U,"$81,000",UFA,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
8,Sydney Colson,TC,"$74,305",UFA,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
9,Cayla George,V,"$74,305",RFA,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
10,Kierstan Bell,U,"$67,634",U,"$74,398",OPT,"$84,543",RFA,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
11,Aisha Sheppard,U,"$64,657",U,"$71,124",OPT,"$80,823",RFA,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
12,Courtney Range,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces
13,Alexis Peterson,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,0.0,0.0,0.0,Las Vegas Aces

In [15]:
sparks = pd.read_csv("team-data/Los Angeles Sparks.csv")
sparks_players = sparks[:17].fillna(0)
sparks_players["TEAM"] = ["Los Angeles Sparks" for i in range(17)]

In [17]:
lynx = pd.read_csv("team-data/Minnesota Lynx (1).csv")
lynx_players = lynx[:17].fillna(0)
lynx_players["TEAM"] = ["Minnesota Lynx" for i in range(17)]

In [19]:
liberty = pd.read_csv("team-data/New York Liberty (2).csv")
liberty_players = liberty[:16].fillna(0)
liberty_players["TEAM"] = ["New York Liberty" for i in range(16)]

In [21]:
mercury = pd.read_csv("team-data/Phoenix Mercury.csv")
mercury_players = mercury[:14].fillna(0)
mercury_players["TEAM"] = ["Phoenix Mercury" for i in range(14)]

In [24]:
storm = pd.read_csv("team-data/Seattle Storm.csv")
storm_players = storm[:17].fillna(0)
storm_players["TEAM"] = ["Seattle Storm" for i in range(17)]

In [26]:
mystics = pd.read_csv("team-data/Washington Mystics.csv")
mystics_players = mystics[:17].fillna(0)
mystics_players["TEAM"] = ["Washington Mystics" for i in range(17)]

In [33]:
all_players = pd.concat([dream_players, sky_players, sun_players, wings_players, fever_players, aces_players, sparks_players, lynx_players, liberty_players, mercury_players, storm_players, mystics_players])
all_players = all_players.drop(columns = ["Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16", "Unnamed: 17", "Unnamed: 18"])

In [35]:
all_players.to_csv("all_players.csv")