In [2]:
import pandas as pd
import numpy as np

In [3]:
atl = pd.read_csv("team-data/Atlanta Dream (1).csv")

In [4]:
atl.head()

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,Unnamed: 12
0,Cheyenne Parker,V,"$216,100",V,"$200,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Allisha Gray,V,"$194,600",V,"$185,000",V,"$190,000",UFA,NaN,NaN,NaN,NaN,NaN
2,Danielle Robinson,V,"$155,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monique Billings,V,"$145,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nia Coffey,V,"$130,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ages1 = pd.read_html("player-data/WNBA Stats _ Players Bios1.html", flavor = "lxml")
ages2 = pd.read_html("player-data/WNBA Stats _ Players Bios2.html", flavor = "lxml")
ages3 = pd.read_html("player-data/WNBA Stats _ Players Bios3.html", flavor = "lxml")
ages4 = pd.read_html("player-data/WNBA Stats _ Players Bios4.html", flavor = "lxml")

In [6]:
ages = pd.concat([ages1[0], ages2[0], ages3[0], ages2[0]])
ages = ages.reset_index()[["Player", "Age"]]
ages

              Player  Age
0        A'ja Wilson   26
1      Aari McDonald   24
2      Aerial Powers   29
3     Aisha Sheppard   24
4      Alaina Coates   27
..               ...  ...
195  Kristine Anigwe   26
196   Kristy Wallace   27
197      Lexie Brown   28
198       Lexie Hull   23
199         Li Yueru   24

[200 rows x 2 columns]

In [7]:
all_players = pd.read_csv("all_players.csv")
all_players.sort_values(by = "PLAYER")

,Unnamed: 0,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,TEAM
81,0,A'ja Wilson,V,"$202,154",UFA,0,0,0,0,0,0,0,0,Las Vegas Aces
5,5,Aari McDonald,U,"$78,586",R,"$89,302",RFA,0,0,0,0,0,0.0,Atlanta Dream
114,2,Aerial Powers,V,"$201,984",UFA,0,0,0,0,0,0,0,0,Minnesota Lynx
92,11,Aisha Sheppard,U,"$64,657",U,"$71,124",OPT,"$80,823",RFA,0,0,0,0,Las Vegas Aces
22,7,Alanna Smith,U,"$100,000",UFA,0,0,0,0,0,0,0,0,Chicago Sky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,9,Veronica Burton,U,"$70,609",U,"$77,669",OPT,"$88,261",RFA,0,0,0,0,Dallas Wings
48,14,Victoria Macaulay,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0,Connecticut Sun
66,2,Victoria Vivians,V,"$135,000",V,"$137,000",UFA,0,0,0,0,0,0.0,Indiana Fever
107,12,Yang Liwei,TC,"$62,285",U,"$64,154",Reserved,0,0,0,0,0,0,Los Angeles Sparks
165,6,Yvonne Turner,TC,"$74,305",UFA,0,0,0,0,0,0,0,0,Seattle Storm

In [13]:
ages["Player"] = ages["Player"].astype(str)
all_players["PLAYER"] = all_players["PLAYER"].astype(str)
all_players["PLAYER"] = all_players["PLAYER"].str.split().str.join(' ')
merged = pd.merge(left = ages, right = all_players, left_on = "Player", right_on = "PLAYER").drop(["Unnamed: 0

In [14]:
merged

,Player,Age,Unnamed: 0,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,TEAM
0,A'ja Wilson,26,0,A'ja Wilson,V,"$202,154",UFA,0,0,0,0,0,0,0,0,Las Vegas Aces
1,Aari McDonald,24,5,Aari McDonald,U,"$78,586",R,"$89,302",RFA,0,0,0,0,0,0.0,Atlanta Dream
2,Aerial Powers,29,2,Aerial Powers,V,"$201,984",UFA,0,0,0,0,0,0,0,0,Minnesota Lynx
3,Aisha Sheppard,24,11,Aisha Sheppard,U,"$64,657",U,"$71,124",OPT,"$80,823",RFA,0,0,0,0,Las Vegas Aces
4,Alanna Smith,26,7,Alanna Smith,U,"$100,000",UFA,0,0,0,0,0,0,0,0,Chicago Sky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Shey Peddy,34,8,Shey Peddy,TC,"$74,305",UFA,0,0,0,0,0,0,0,0,Phoenix Mercury
177,Skylar Diggins-Smith,32,1,Skylar Diggins-Smith,V,"$234,350",UFA,0,0,0,0,0,0,0,"2020, 2021, 2022, 2023",Phoenix Mercury
178,Sophie Cunningham,26,3,Sophie Cunningham,V,"$150,000",V,"$154,500",UFA,0,0,0,0,0,0,Phoenix Mercury
179,Stefanie Dolson,31,4,Stefanie Dolson,V,"$160,000",UFA,0,0,0,0,0,0,0,0,New York Liberty
180,Stephanie Jones,24,12,Stephanie Jones,TC,"$62,285",Reserved,0,0,0,0,0,0,0,0.0,Washington Mystics