In [2]:
import pandas as pd
import numpy as np

In [26]:
atl = pd.read_csv("team-data/Atlanta Dream (1).csv")

In [27]:
atl.head()

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,Unnamed: 12
0,Cheyenne Parker,V,"$216,100",V,"$200,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Allisha Gray,V,"$194,600",V,"$185,000",V,"$190,000",UFA,NaN,NaN,NaN,NaN,NaN
2,Danielle Robinson,V,"$155,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monique Billings,V,"$145,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nia Coffey,V,"$130,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
ages1 = pd.read_html("player-data/WNBA Stats _ Players Bios1.html", flavor = "lxml")
ages2 = pd.read_html("player-data/WNBA Stats _ Players Bios2.html", flavor = "lxml")
ages3 = pd.read_html("player-data/WNBA Stats _ Players Bios3.html", flavor = "lxml")
ages4 = pd.read_html("player-data/WNBA Stats _ Players Bios4.html", flavor = "lxml")

In [31]:
ages = pd.concat([ages1[0], ages2[0]])

In [33]:
ages.reset_index()

,index,Player,Team,Age,Height,Weight,College,Country,GP,PTS,REB,AST,NetRtg,OREB%,DREB%,USG%,TS%,AST%
0,0,A'ja Wilson,LVA,26,6-4,195,South Carolina,USA,36,19.5,9.4,2.1,14.0,6.4%,24.2%,26.7%,58.5%,11.6%
1,1,Aari McDonald,ATL,24,5-6,141,Arizona,USA,36,11.1,2.3,2.6,-0.3,1.6%,7.4%,20.9%,54.8%,19.2%
2,2,Aerial Powers,MIN,29,5-11,166,Michigan State,USA,35,14.4,4.7,2.9,-7.1,4.9%,12.5%,27.2%,49.3%,19.4%
3,3,Aisha Sheppard,LVA,24,5-9,145,Virginia Tech,USA,23,1.5,0.6,0.3,-8.8,3.3%,4.4%,12.8%,38.4%,6.1%
4,4,Alaina Coates,IND,27,6-4,225,South Carolina,USA,8,3.5,2.0,0.3,-27.2,6.9%,14.7%,12.4%,79.5%,4.9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,45,Kristine Anigwe,PHO,26,6-4,200,California,United Kingdo...,10,1.5,1.3,0.2,-22.3,7.7%,13.6%,13.4%,52.1%,5.7%
96,46,Kristy Wallace,ATL,27,5-11,157,Baylor,Australia,29,6.6,2.3,2.2,-5.2,2.9%,7.9%,15.8%,52.6%,18.5%
97,47,Lexie Brown,LAS,28,5-9,162,Duke,USA,34,7.1,2.3,2.1,-7.3,1.0%,9.1%,12.3%,56.9%,12.8%
98,48,Lexie Hull,IND,23,6-1,155,Stanford,USA,26,3.8,1.5,0.7,-15.0,3.0%,10.2%,17.2%,40.8%,9.9%
99,49,Li Yueru,CHI,24,-,-,None,China,16,1.8,1.5,0.1,-12.3,6.7%,20.7%,18.2%,60.1%,4.4%